<!-- Sample EmailSettings that you need to put in your process's config file -->
<!--<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="FromAddress" value="no-reply@mydomain.net" />
    <add key="FromDisplayName" value="ESB Email" />
    <add key="SmtpServer" value="smtp.mycompany.com" />
    <add key="DisableSendingEmails" value="false" />
    <add key="WriteACopyOfAllEmailsToThisFolder" value="C:\TestLocation\Emails" />
  </appSettings>
</configuration>-->