<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <TransportConfig xdt:Transform="Replace"
                   MaximumConcurrencyLevel="5"
                   MaxRetries="5"
                   MaximumMessageThroughputPerSecond="0" />
  <SecondLevelRetriesConfig xdt:Transform="Replace" Enabled="true" TimeIncrease="00:01:00" NumberOfRetries="14"/> <!-- every minute for 14 minutes -->

  <!-- TODO: Replace with audit@MyProductionAuditServer and error@MyProductionAuditServer -->
  <AuditConfig xdt:Transform="Replace" QueueName="audit@localhost" />
  <MessageForwardingInCaseOfFaultConfig  xdt:Transform="Replace" ErrorQueue="error@localhost" />

  <log4net>
    <appender name="ColoredConsoleAppender" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <appender name="rolling" xdt:Locator="Match(name)" type="log4net.Appender.RollingFileAppender">
      <!-- TODO: Typicaly use D: or some other drive than C in production -->
      <file xdt:Transform="Replace" value="C:\Logs\EaiGuy.Email.Sender\EaiGuy.Email.Sender.log" />
    </appender>
    <root>
      <level xdt:Transform="Replace" value="INFO"/>
      <appender-ref xdt:Transform="Replace" ref="rolling" />
    </root>
  </log4net>
  <Logging xdt:Transform="Replace" Threshold="WARN" />

  <appSettings>
    <!-- TODO: Replace with production server share -->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="WriteACopyOfAllEmailsToThisFolder" value="C:\TestLocation\Release\Emails"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DisableSendingEmails" value="false" />
    <!-- TODO: Replace with particular.servicecontrol@MyProductionAuditServer -->
    <add xdt:Transform="Insert" key="ServiceControl/Queue" value="particular.servicecontrol@localhost"/>
  </appSettings>

</configuration>