<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <TransportConfig xdt:Transform="Replace" MaximumConcurrencyLevel="1" MaxRetries="3" />
  <SecondLevelRetriesConfig xdt:Transform="Replace" Enabled="false" />

  <log4net>
    <!--<appender name="rolling" xdt:Transform="Remove" xdt:Locator="Match(name)" />-->
    <root>
      <level xdt:Transform="Replace" value="INFO"/>
      <appender-ref xdt:Transform="Replace" ref="ColoredConsoleAppender" />
      <appender-ref xdt:Transform="Insert" ref="rolling" />
    </root>
  </log4net>
  <Logging xdt:Transform="Replace" Threshold="INFO" />

  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="WriteACopyOfAllEmailsToThisFolder" value="C:\TestLocation\Emails" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DisableSendingEmails" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DisablePeriodicChecks" value="true" />
  </appSettings>
</configuration>
